*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: magnet;
    src: url(MagnetTrial-Light-BF65f3b2c535033.otf)
}

@font-face {
    font-family: magnet-thin;
    src: url(MagnetTrial-ExtraLight-BF65f3b2c458ace.otf);
}

.hero{
    background-image: url("yucca.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
    


nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #717767;
}

nav .right{
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #1D1D1B;
}

nav p{
    font-size: 13px;
    font-weight:300;
    font-family: magnet;
}
nav img{
    height: 70px;
    width: 180px;
}

nav:hover{
    background-color: white;
}

nav p:hover{
    border-bottom:1px solid black ;
}


nav .middle{
    margin-left:320px ;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1D1D1B;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1D1D1B;
    margin-top: 10px;
    margin-left: 20px;
}

.left i{
    font-size: 13px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.left i:hover{
    background-color: black;
    color: white;
}


.wrapper{
    margin-left: 100px;
    margin-top: 30px;
}

.wrapper h1{
    font-size: 65px;
    font-weight: 500;
    font-family: magnet-thin;
    line-height: 130%;
}

.container{
    margin-top: 85px;
    margin-left: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: absolute;
    
}

.con1{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 290px;
    background-color: rgba(255, 255, 255, 0.287);
    border-radius: 10px;

}

.main-text{
    font-family: magnet;
   font-size: 22px;
 
}

.con-info{
    display: none;
    position: absolute;
    margin-left: 10px;

}

.lm{
    display: none;
}

.con1:hover{
    background-color:white;

.main-text{
    display:none;
}
.con-info{
    line-height: 20px;
    display: flex;
    top: 10%;
    justify-content: start;
    align-items: start;
     flex-direction: column;
    font-family: magnet-thin;
    font-weight: 200;
    font-size: 12px;
    }

.line{
    width: 90%;
    height: 1px;
    background-color: #1D1D1B;
    position: absolute;
    bottom: 20%;
}

.lm{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: magnet-thin;
    font-weight: 200;
}

.lm p{
    position: absolute;
    bottom: 10%;
    font-size: 12px;
    left: 5%;
}

.lm svg{
    position: absolute;
    bottom:9%;
    right: 5%;
}
}



.con2{
   position: relative;
   display: flex;
   font-family: magnet;
   font-size: 22px;
    justify-content: center;
    align-items: center;
     height: 280px;
    width: 290px;
    background-color: rgba(255, 255, 255, 0.287);
    border-radius: 10px;
}

.con2:hover{
    background-color:white ;


.main-text{
    display:none;
}
.con-info{
    line-height: 20px;
    display: flex;
    top: 10%;
    justify-content: start;
    align-items: start;
     flex-direction: column;
    font-family: magnet-thin;
    font-weight: 200;
    font-size: 12px;
    }

.line{
    width: 90%;
    height: 1px;
    background-color: #1D1D1B;
    position: absolute;
    bottom: 20%;
}

.lm{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: magnet-thin;
    font-weight: 200;
}

.lm p{
    position: absolute;
    bottom: 10%;
    font-size: 12px;
    left: 5%;
}

.lm svg{
    position: absolute;
    bottom:9%;
    right: 5%;
}
}


.con3{
   position: relative;
   display: flex;
   font-family: magnet;
   font-size: 22px;
    justify-content: center;
    align-items: center;
     height: 280px;
    width: 290px;
    background-color: rgba(255, 255, 255, 0.287);
    border-radius: 10px;
}

.con3:hover{
    background-color:white ;


.main-text{
    display:none;
}
.con-info{
    line-height: 20px;
    display: flex;
    top: 10%;
    justify-content: start;
    align-items: start;
     flex-direction: column;
    font-family: magnet-thin;
    font-weight: 200;
    font-size: 12px;
    }

.line{
    width: 90%;
    height: 1px;
    background-color: #1D1D1B;
    position: absolute;
    bottom: 20%;
}

.lm{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: magnet-thin;
    font-weight: 200;
}

.lm p{
    position: absolute;
    bottom: 10%;
    font-size: 12px;
    left: 5%;
}

.lm svg{
    position: absolute;
    bottom:9%;
    right: 5%;
}
}


@media(min-width:1100px){
 .hero{
    background-image: url("yucca.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}
}

@media (max-width:1100px){
    

    nav .right{
        margin: 10px;
    }

    nav .right p{
        display: none;
    }


    nav .middle{
        display: none;
    }

    nav .left{
        position: absolute; 
        right: 0; 
        margin-right:10px ;
    }

    .wrapper{
        margin-left: 10px;
    }
    .wrapper h1{
        font-size: 45px;
    }

    .container{
        display: block;
        margin: 10px;
    }

    .con1{
        height: 70px;
        width: 90%;
        margin-bottom: 10px;
    }

    .con2{
        height: 70px;
        width: 90%;
        margin-bottom: 10px;
    }

    .con3{
         height: 70px;
         width: 90%;
        margin-bottom: 10px;
    }
}.p2{
    background-color: #DFDAC6;
    background-image: url(diba.webp);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.text-container{
    display: flex;
    gap: 35px;
    position: absolute;
    white-space: nowrap;
    width: max-content;    
    margin-bottom: 100px;    
    animation: move 8s linear infinite;
}

.text-box{
    color: rgb(0, 0, 0);
    flex-shrink: 0;
    font-family: magnet;
    flex-shrink: 0;
    font-size: 50px;
}

@keyframes move{
    from{
        transform: translateX(-40%);
    }

    to{
        transform: translateX(0%);
    }
}


.text-container2{
    display: flex;
    gap: 35px;
    position: absolute;
    white-space: nowrap;
    width: max-content;         
    margin-top: 100px;
    animation: move2 8s linear infinite;
}

.text-box2{
    color: rgb(0, 0, 0);
    flex-shrink: 0;
    font-family: magnet;
    flex-shrink: 0;
    font-size: 50px;
}

@keyframes move2{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-40%);
    }
}

